.mainimage{
	display: block;
  	border: 1px solid black;
  	margin-left: auto;
  	margin-right: auto;
  	width: 300px;
  	padding: 5px;
}
.container{
 	padding:10px;
 	width:500px;
  	max-width:500px;
  	border: 1px solid grey;
}
.textbox{
  	border: 1px solid grey;
  	margin-top: 10px;
  	padding: 10px;
}
.label{
	font-weight: bold;
}
.interesting{
	font-style:italic;
  	padding: 5px;
}
li{
	list-style: none;
  	padding: 5px;
}
h3{
  	border: 1px solid black;
  	padding: 5px;
}